# wifi credentials - it will be ignored if the ssid is empty
#SECRETS_WIFI_ID=wifi
SECRETS_WIFI_SSID=
SECRETS_WIFI_PASSWORD=

# SSH authorized keys
SSH_KEYS_bootstrap="ssh-rsa xxxxxxx"
#SSH_KEYS_user1="ssh-rsa xxxxxxx"
#SSH_KEYS_user2="ssh-rsa xxxxxxx"

# thin-edge.io settings
# thin-edge.io install channel. Options: "main",  "release" (latest official release)
#TEDGE_INSTALL_CHANNEL=main
