[Unit]
Description=Rollback the currently booted system if thin-edge.io can not connect successfully

[Service]
Type=oneshot
ExecStart=/usr/bin/healthcheck.sh

[Install]
WantedBy=multi-user.target
